@model Pie

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail ">
        <img src="#" alt="Behtany's Pie SHop" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString()</h3>
            <h3 class="bg-danger">
                <a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
    </div>
</div>  