
@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
            {
                <li>
                    <a>
                        <span class="glypicon glypicon-shopping-cart"></span>
                        <span class="cart-status">
                            @Model.ShoppingCart.ShoppingCartItems.Count
                        </span>

                    </a>
                </li>
            }